/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px; /* Base font size */
    scroll-behavior: smooth; /* Smooth scrolling */
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFEB3B; /* Yellow background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: #333;
    padding: 1.5em; /* Reduced padding around the body */
  }
  
  .landing-container {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 40em; /* Max width in em */
  }
  
  .logo {
    width: 16em; /* Default logo size */
    height: auto;
  }
  
  .tagline {
    font-size: 2.2em;
    line-height: 1.4em;
    font-weight: 600;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #000;
  }
  
  .description {
    font-size: 1.1em;
    line-height: 1.4;
    color: #333;
    padding: 0 1.5em;
    max-width: 43em;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Form Styles */
  .form-container {
    margin-top: 2em;
    padding: 1em;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  input[type="email"], button {
    padding: 0.8em;
    font-size: 1.2em;
    margin-bottom: 1em;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 37.5em) { /* 600px */
    .tagline {
      font-size: 2em; /* Adjusted font size for mobile */
      margin-bottom: 1.2em;
    }
  
    .description {
      font-size: 1em; /* Adjusted font size for description on mobile */
      padding: 0 1.2em;
    }
  
    .logo {
      width: 12em; /* Adjust logo size for mobile */
      margin-bottom: 0.8em;
    }
  
    input[type="email"], button {
      font-size: 1em; /* Adjust font size for form inputs on mobile */
    }
  }
  